ipykernel
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
streamlit
openpyxl
plotly[express]
openai
xlsxwriter
fastapi[standard]
langchain-openai
langchain
langchain-community
streamlit-mic-recorder
rapidfuzz